body {
  margin:0px;
  font-family: 'Anton', sans-serif;
}

/* Bootstrap Overrides */

.container {
    margin-bottom: 100px;
}

/* header section */
header {
  height:50px;
  background-color: #4a5829;
  font-family: 'Roboto', sans-serif;
}
/* User Menu */
#logo img {
  width: 150px;
  padding: 10px;
}

header h2 {
  display:none;
}
header ul {
  list-style-type:none !important;
  margin:0;
  padding:0;
  padding-top:12px;
  padding-right:30px;
  float:right;
}
header li {
  display:inline;
}
.user-menu {
  width:960px;
  margin-left:auto;
  margin-right:auto;
}
.user-menu .menu a:link {color:#FFF; text-decoration: none;}
.user-menu .menu a:visited {color:#FFF; text-decoration: none;}
.user-menu .menu a:hover {color:#FFF; text-decoration: underline;}
.user-menu .menu a:active {color:#FFF; text-decoration: none;}

/* header section */
.header {
  height:100px;
}
/* Logo */
.logo-div {
}
/* Main Menu */
.main-menu {
}
.main-menu h2 {
  display:none;
}
.main-menu ul {
  float: right;
  list-style-type:none !important;
  margin:0;
  padding:0;
  padding-top:40px;
  padding-right:30px;
}
.main-menu li {
  display:inline;
}
.main-menu .menu a:link {color:#ffffff; text-decoration: none;}
.main-menu .menu a:visited {color:#ffffff; text-decoration: none;}
.main-menu .menu a:hover {color:#ffffff; text-decoration: underline;}
.main-menu .menu a:active {color:#ffffff; text-decoration: none;}

/* main content */

.cover-image {
    width: 100%;
    height: 200px;
    background-image: url("../images/bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}


/* breadcrumb */
.breadcrumb {
  margin-top:15px;
  background-color: #CFD7C4;
  color: #4a5829;
}

/* sidebar */
#sidebar {
  margin: 20px 0;
  padding: 15px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  background-color: #4a5829;
  color: #ffffff;
}

#sidebar a {
  color: #CFD7C4;
}

/* footer */
footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 50px;
  padding: 15px 0;
  text-align:center;
  background-color:#4a5829;
  color: #ffffff;
}
